$orangeRed: rgba(241, 103, 24, 1);
$orange: rgba(255, 155, 98, 1);
$darkBlue: rgba(22, 37, 66, 1);
$lightBlue: rgba(123, 139, 173, 1);

$greyishBlue: rgba(232, 239, 242, 1);
$white: rgba(255, 255, 255, 1);