@use 'fonts';
@use 'colors';
@use 'mixins';

body, html {
    margin: 0;
    font-family: "Barlow", sans-serif;
    width: 100%;
    overflow-x: hidden;
}

.mobile, .tablet {
    display: none;
}

.header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 2rem;

    .order-button {
        @include mixins.order-button;
        color: rgba(22, 37, 66, 1);
        background: rgba(232, 239, 242, 1);
    }
}

.ad {
    padding: 0 1.65rem;
    h1 {
        color: rgba(22, 37, 66, 1);
        font-size: 3rem;
        font-weight: 900;
        text-transform: uppercase;
        }

    p {
        font-weight: 500;
        font-size: 1rem;
        color: rgba(123, 139, 173, 1);
        line-height: 150%;
    }

    .info {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .order-button {
        @include mixins.order-button;
        color: rgba(255, 255, 255, 1);
        background-color: rgba(241, 103, 24, 1);
        padding: 1rem 0;
    }

    .release {
        @include mixins.order-button;
    }

}



.images {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, auto);
    row-gap: 2rem;
    img {
        border-radius: 25px;
        box-sizing: border-box;
        width: 100%;
    }
}
    
    
.keyboard {
    grid-column: 1 / 6;
    width: 372px;
    height: 331px;
    margin-left: 1.65rem;
}

.phone {
    grid-row-start: 2;
    position: relative;
    display: inline-block;
    width: 129px;
    height: 193px;
    left: -32px;
    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(241, 103, 24, 0.8);
        border-radius: 25px;
    }
}

.glass {
    grid-column-start: 2;
    grid-row-start: 2;
    width: 220px;
    height: 193px;
}

.about {
    text-align: center;
    padding: 2rem;
    h2 {
        font-weight: 900;
        font-size: 2rem;
        text-transform: uppercase;
        color: rgba(22, 37, 66, 1);
    }

    p {
        font-size: 1rem;
        font-weight: 500;
        color: rgba(123, 139, 173, 1);
        line-height: 141%;
    }
}

.features {
    padding: 1.65rem;
    text-align: center;
    display: grid;
    row-gap: 3rem;
    
    h3 {
        text-transform: uppercase;
        font-weight: 900;
        font-size: 1.5rem;
        color: rgba(22, 37, 66, 1);
    }
        
    p {
        font-weight: 500;
        font-size: 1rem;
        color: rgba(123, 139, 173, 1);
        line-height: 160%;
    }

    .icons {
        margin: auto;
        height: 65px;
        width: 65px;
        border-radius: 16px;
        background-color: rgba(241, 103, 24, 1);
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 2.5rem;
    }

    span.new-line {
        display: block;
    }

}

footer {
    text-align: center;
    padding: 2rem;
    color: rgba(123, 139, 173, 1);
    font-size: 1rem;
    font-weight: 500;

    .company {
        font-weight: 700;
    }
}

@media screen and (min-width: 768px) {
    .mobile {
        display: none;
    }

    .tablet {
        display: block;
    }
    .header {
        .order-button {
            width: 50%;
            margin-left: auto;
            padding: 1.25rem 0;
        }
    }

    .ad {
        display: grid;
        grid-template-columns: auto 300px;
        column-gap: 5.5rem;
        padding-top: 1rem;

        .info {
            padding-top: 1.75rem;
        }

        .release {
            margin-left: auto;
        }

        .order-button {
            padding: 1.25rem;
        }
        .keyboard2 {
            img {
                width: 478px;
                height: 425px;
                border-radius: 25px;
            }
        }
    }

    .images2 {
        display: grid;
        grid-template-columns: repeat(2, auto);
        padding: 2rem;

        .phone2 {
            position: relative;
            width: 214px;
            height: 320px;
            img {
                border-radius: 25px;
                width: 214px;
                height: 320px;
            }
            .overlay{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(241, 103, 24, 0.8);
                border-radius: 25px;
            }
        }

        .glass2 {
            margin-left: auto;
            img {
                border-radius: 25px;
                width: 445px;
                height: 320px;
            }
        }
    }

    .about {
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 2rem;

        h2 {
            text-align: left;
        }

        p {
            margin: auto 0 auto auto;
            text-align: left;
            padding: 0 2rem;
        }
    }

    .features {
        display: grid;
        grid-template-columns: repeat(2, auto);
        column-gap: 4rem;
        padding: 2rem;
        text-align: left;

        .icons {
            margin: 0;
        }

        p {
            padding-right: 2rem;
        }
    }
}



